@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-image: url(https://img.freepik.com/psd-premium/fundo-abstrato_69089-33.jpg?w=996);    
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #6066ed;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #6066ed;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all x3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}


.label-float input:focus {
    border-bottom: 2px solid #e785b5;
} 

.label-float label {
    color: #272262;
   pointer-events: none;
   position: absolute;
   top: 0;
   left: 0;
   margin-top: 13px;
   transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{

    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

button {
    background-color: transparent;
    border-color: #6368ef;
    color: #6368ef;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;

}

button:hover {
    background-color: #6368ef;
    color: #fff;   
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p {
    color: #6368ef;
    font-size: 14pt;
    text-align: center;
}

a {
    color: #a166de;
    font-weight: bold;
    text-decoration: none;

}

a:hover {
    color: #6368ef;
    transition: all .3s ease-out;
}


#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #6368ef;
}